commands:
  01_install_geos:
    command: |
      GEOS_VERSION=3.6.4
      GDAL_VERSION=2.4.4
      PROJ4_VERSION=5.2.0

      sudo yum -y update
      sudo yum-config-manager --enable epel
      sudo yum -y install make automake gcc gcc-c++ libcurl-devel proj-devel geos-devel s3cmd

      # Compilation work for geos.
      mkdir -p "/tmp/geos-${GEOS_VERSION}-build"
      cd "/tmp/geos-${GEOS_VERSION}-build"
      curl -o "geos-${GEOS_VERSION}.tar.bz2" \
          "http://download.osgeo.org/geos/geos-${GEOS_VERSION}.tar.bz2" \
          && bunzip2 "geos-${GEOS_VERSION}.tar.bz2" \
          && tar xvf "geos-${GEOS_VERSION}.tar"
      cd "/tmp/geos-${GEOS_VERSION}-build/geos-${GEOS_VERSION}"
      ./configure --prefix=/usr/local/geos

      # Make in parallel with 2x the number of processors.
      make -j $(( 2 * $(cat /proc/cpuinfo | egrep ^processor | wc -l) )) \
       && sudo make install \
       && sudo ldconfig

      # Compilation work for proj4.
      mkdir -p "/tmp/proj-${PROJ4_VERSION}-build"
      cd "/tmp/proj-${PROJ4_VERSION}-build"
      curl -o "proj-${PROJ4_VERSION}.tar.gz" \
          "http://download.osgeo.org/proj/proj-${PROJ4_VERSION}.tar.gz" \
          && tar xfz "proj-${PROJ4_VERSION}.tar.gz"
      cd "/tmp/proj-${PROJ4_VERSION}-build/proj-${PROJ4_VERSION}"
      ./configure --prefix=/usr/local/proj4

      # Make in parallel with 2x the number of processors.
      make -j $(( 2 * $(cat /proc/cpuinfo | egrep ^processor | wc -l) )) \
       && sudo make install \
       && sudo ldconfig


      # Compilation work for GDAL
      mkdir -p "/tmp/gdal-${GDAL_VERSION}-build"
      cd "/tmp/gdal-${GDAL_VERSION}-build"
      curl -o "gdal-${GDAL_VERSION}.tar.gz" \
          "http://download.osgeo.org/gdal/${GDAL_VERSION}/gdal-${GDAL_VERSION}.tar.gz" \
          && tar xfz "gdal-${GDAL_VERSION}.tar.gz"
      cd "/tmp/gdal-${GDAL_VERSION}-build/gdal-${GDAL_VERSION}"
      ./configure --prefix=/usr/local/gdal \
                  --with-static-proj4=/usr/local/proj4 \
                  --with-python

      # Make in parallel with 2x the number of processors.
      sudo make -j $(( 2 * $(cat /proc/cpuinfo | egrep ^processor | wc -l) )) \
       && sudo make install \
       && sudo ldconfig
    test: "[ ! -d /usr/local/geos ]"


option_settings:
  aws:elasticbeanstalk:application:environment:
    PYTHONPATH: "./"
    PATH: /usr/local/gdal/bin:$PATH
    LD_LIBRARY_PATH: /usr/local/proj4/lib:/usr/local/geos/lib:/usr/local/gdal/lib:$LD_LIBRARY_PATH
    GDAL_LIBRARY_PATH: /usr/local/gdal/lib/libgdal.so
