option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "scooters.settings"
    "PYTHONPATH": "/var/app/current/scooters:$PYTHONPATH"
    "GDAL_LIBRARY_PATH": "/usr/local/gdal/lib/libgdal.so"
    "GEOS_LIBRARY_PATH": "/usr/local/geos/lib/libgeos_c.so"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
    "ENVIRONMENT_TYPE": "AWS"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: scooters.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:autoscaling:launchconfiguration":
    InstanceType: 't3.small'
