option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "scooters.settings"
    "PYTHONPATH": "/var/app/current/scooters:$PYTHONPATH"
    "GDAL_LIBRARY_PATH": "/usr/local/gdal/lib/libgdal.so"
    "GEOS_LIBRARY_PATH": "/usr/local/geos/lib/libgeos_c.so"
    "RDS_DB_HOST": "roller-serverless.cluster-cxgfzachz3cx.eu-central-1.rds.amazonaws.com"
    "RDS_DB_NAME": "roller"
    "RDS_DB_USER": "roller"
    "ENVIRONMENT_TYPE": "AWS"
    "AWS_BUCKET_NAME": "roller-assets"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
    "ENVIRONMENT_TYPE": "AWS"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: scooters.wsgi:application
    NumProcesses: 3
    NumThreads: 20
  "aws:autoscaling:launchconfiguration":
    InstanceType: 't3.small'
  "aws:ec2:vpc":
      VPCId: vpc-0ee31964
      Subnets: subnet-9845a9d4,subnet-ca74d6a0,subnet-245d4559

container_commands:
  01_collectstatic:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py collectstatic --noinput"
  02_migrate:
    command: "source /var/app/venv/staging-LQM1lest/bin/activate && python manage.py migrate"