files:
  "/etc/nginx/conf.d/elasticbeanstalk/01-body-size.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      client_max_body_size 20M;

files:
    "/etc/nginx/conf.d/elasticbeanstalk/elasticbeanstalk-nginx-docker-proxy-timeout.conf":
        mode: "000644"
        owner: root
        group: root
        content: |
            proxy_connect_timeout       3600;
            proxy_send_timeout          3600;
            proxy_read_timeout          3600;
            send_timeout                3600;